/************************
Global properties
************************/
* {
    box-sizing: border-box;
    font-family: "Verdana", Geneva, sans-serif;
}

body {
    margin: 25px 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/************************
Table
************************/
table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    padding-left: 8px;
    table-layout: fixed;
}

table th {
    cursor: default;
    background: #0cb2ff;
    color: white;
}

table td, th {
    padding: 12px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/************************
Description
************************/
.description {
    padding-left: 8px;
    border-top: 1px solid black;
}

.description p {
    white-space: pre-wrap;
}

/************************
Title
************************/
.title ul {
    padding: 8px 16px;
    list-style: none;
    background-color: grey;
}

.title ul li {
    display: inline;
    color: white;
}

.title ul li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

.title ul li a {
    color: white;
}

.title .time {
    clear: both;
    float: right;
    margin: 0px;  /*time align breaks if this line is missing*/
}

/************************
Listing
************************/
.listing {
    clear: both;
    padding-left: 8px;
    border-top: 1px solid black;
}

.listing p {
    font-size: 14px;
}

.listing table tr:hover {
    cursor: pointer;
    cursor: hand;
    background: grey !important;
}

/************************
ASIL
************************/
.asil_False {
    font-size: 0;
}

.asil_A {
    color: #ffa100;
    font-weight: bold;
}

/************************
Pass/Fail
************************/
.passed_Pass {
    color: green;
    font-weight: bold;
}

.passed_Fail {
    color: red;
    font-weight: bold;
}

/************************
Index: Statistics
************************/
.statistics {
    border-top: 1px solid black;
}

.Count, .Passed, .Failed {
    padding-left: 8px;
    width: 33%;
    float: left;
    padding-bottom: 16px;
}

.Count td, th {
    padding: 8px;
}

.Passed td, th {
    padding: 8px;
}

.Passed th {
    background: green;
    color: white;
}

.Failed td, th {
    padding: 8px;
}

.Failed th {
    background: red;
    color: white;
}

/************************
Requirements
************************/
.AT_header {
    padding-left: 8px;
    border-top: 1px solid black;
    color: #007baf;
}

.AT_header ul {
    clear: both;
    float: right;
}

.AT_header ul {
    padding: 16px;
}

.AT_header ul li {
    display: inline;
}

.AT_header ul li a{
    padding: 8px;
    text-decoration: none;
    background: #007baf;
    color: white;
}

.AT_header .invalid{
    background: #c0ddf9;
}

.explanation {
    padding-left: 8px;
    border-top: 1px solid black;
}

.spec_ref {
    padding-left: 8px;
    border-top: 1px solid black;
}

/************************
Write Data
************************/
.write {
    border-top: 1px solid black;
    padding-bottom: 16px;
    padding-left: 8px;
}

.write th {
    background: #ffae00;
    color: white;
}

/************************
Verify Data
************************/
.verify {
    border-top: 1px solid black;
    padding-bottom: 16px;
    padding-left: 8px;
}

.verify th {
    background: #00bfff;
    color: white;
}

.signal {
    border: 1px solid #d1d1d1;
    padding: 0px 16px 16px 16px;
    margin: 16px 0px 16px 0px;
}

.Pass {
    color: green;
    font-weight: bold;
}

.Fail {
    color: red;
    font-weight: bold;
}

.header_Pass {
    background: #97fc9c;
    padding: 8px;
    font-weight: normal;
}

.header_Fail {
    background: #fca397;
    padding: 8px;
    font-weight: normal;
}

/************************
Test Data: Collapse
************************/
.collapse{
    cursor: pointer;
    display: block;
    background: #dbdbdb;
    padding: 4px;
    margin-bottom: 20px;
}

.collapse + input{
  display: none; /* hide the checkboxes */
}

.collapse + input + div{
  display:none;
}

.collapse + input:checked + div{
  display:block;
}

.collapse {
    display: inline-block;
}

.collapse + input:after { content: " \25b6"; display: inline-block; }
.collapse + input:checked:after { content: " \25bc"; display: inline-block; }
.collapse + input { display: inline-block; -webkit-appearance: none; -o-appearance:none; -moz-appearance:none;  }
.collapse + input + * { display: none; }
.collapse + input:checked + * { display: block; }
